* {
    margin: 0;
}

header a {
    display: flex;
}

.cabecalho {
    height: 100px;
}

header {
    display: flex;
    background-color: #70C0ED;
    text-decoration: none;
}

header svg {
    width: 40px;
    height: 40%;
    margin-top: 11%;
    margin-left: 15px;
}

header b {
    font-size: 20px;
    margin-top: 10px;
    color: #B82A25;
}

#title img {
    margin-top: 20px;
    margin-left: 10px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

#servico {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 11px;
    margin-left: 73%;
}

#nav {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    height: 70px;
    align-items: center;
    font-weight: 600;
}

#nav>li {
    font-size: 20px;
    background-color: white;
    width: auto;
    text-align: center;
    height: auto;
    line-height: 30px;
    border-radius: 5px;
}

#drop-list {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#dropdown a {
    text-decoration: none;
    color: white;
}

#dropdown {
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    position: absolute;
    width: auto;
    list-style: none;
    padding: 0;
    opacity: 0;
    color: white;
    top: 50px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 3px;
    justify-content: space-between;
    z-index: -10;
    transition: 0.5s
}

#dropdown li{
    background-color: #0a76b4;
    border-radius: 10px;
}

#drop-list:hover>#dropdown {
    opacity: 1;
    z-index: 10;
    top: 32px;
}

body {
    background-image: url(14485839-fundo-de-close-up-de-ilustracao-de-prato-de-frango-assado-designial-desenhado-a-mao-de-carne-de-frango-gratis-vetor.jpg);
    background-size: 100%;
}

body p {
    text-align: center;
    margin-top: 20%;
}

li {
    list-style: none;
}

hr {
    background-color: #B82A25;
    border-color: #B82A25;
    height: 3px;
    border: 0;
}

#valor {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
    font-size: 34px;
    margin-left: 26px;
    color: rgb(255, 255, 255);
}

#MinLinha {
    margin: 10px;
    margin-top: 25px;
    margin-left: 23px;
    width: 200px;
    border-color: rgb(239, 203, 81);
    background-color: rgb(239, 203, 81);
}

#produtos {
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 36px;
    color: white;
}

#entregas {
    margin: 0;
    margin-top: 60px;
    display: flex;
    gap: 15px;
}

#entregas img {
    width: 9%;
}

#entregas a {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 80px;
    color: rgb(239, 203, 81);
    font-size: 40px;
}

footer {
    height: 80px;
    display: flex;
    font-size: 27px;
    background-color: #70C0ED;
    margin-top: 107px;
    gap: 400px;
}

footer svg {
    width: 13%;
}

footer div {
    gap: 8px;
}


footer a {
    margin-top: 25px;
    text-align: center;
}

.contato {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 20px;
}